.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.allbuttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff6666;
    transition: background-color 0.1s, color 0.1s, transform 0.2s, border 0.1s;
    color: #ffffff;
    padding: 8px 16px;
    border: 2px solid #ff6666;
    box-shadow: 0 4px 2px #ff666633;
    border-radius: 8px;
}

